<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="profileImage">
          <ion-img src="assets/dlwlrma.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <br><br><br><br><br><br><br><br><br><br><br>
      <h1><b>Aldo Gabriel</b></h1>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><br><br>
        <h1><small>00000020534 - CL</small></h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col><br><br><br><br>
        <ion-card color="tertiary">
        <p>Project Description : </p><br>
        <p style="content: center;">Project yang dibuat saya kerjakan sendiri. 
          Referensi yang dipakai antara lain modul mingguan mobile, ionic documentation, Angular guide form, 
          serta stackoverflow. Project yang dibuat tidak menggunakan library dari luar. 
          Untuk hosting API referensi dari Aslab</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>